---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: qiime2/linux-worker
    version: latest
params:
  GITHUB_USER:
  GITHUB_PASS:
  REPOS:
inputs:
  - name: busywork
  - name: template-repo
run:
  path: busywork/extra/github/bin/copy-labels.sh
